@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Advanced Web Engineering</h1>
    <p class="lead">Dies ist interaktive Plattform zum Verwalten von Bachelor und Master Thesen. Sie wurde im Rahmen des Moduls Advanced Web Programming der JMU Würzburg entwickelt.</p>
</div>

